* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

header {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    gap: 20px;
}

header img {
    height: 50px;
}

header ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-size: 18px;
    font-weight: 500;
}

header ul li a {
    padding: 5px 10px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: black;
    color: white;
    height: 500px;
    text-align: center;
}

.main h2 {
    font-weight: 600;
    font-size: 40px;
}

.main p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.main button {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 500;
    background-color: white;
    border-radius: 20px;
    border: none;
}

#catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#catalog h2 {
    font-size: 30px;
    margin: 20px;
}

#catalog div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 90%;
    max-width: 1200px;
}

#catalog article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    box-shadow: 0 5px 10px #00000025;
    border-radius: 20px;
}

#catalog article h3 {
    margin: 10px 0;
    font-size: 25px;
}

#catalog article p {
    text-align: center;
    margin-bottom: 10px;
    width: 90%;
    max-width: 300px;
    font-size: 18px;
}

#catalog article button {
    text-align: center;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 18px;
    margin-bottom: 10px;
}

#catalog img {
    height: 200px;
    margin-top: 10px;
}

#avantaje {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 10px #00000025;
    border-radius: 20px;
    margin: 50px auto;
    padding: 30px;
    text-align: center;
}

#avantaje h2 {
    font-size: 30px;
    margin: 50px 0 20px 0;
}

#avantaje ul {
    list-style: none;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 50px;
}

#recenzii {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 10px #00000025;
    margin: 50px auto;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
}

#recenzii h2 {
    font-size: 30px;
    margin: 50px 0 20px 0;
}

#recenzii div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#recenzii article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 300px;
    font-size: 18px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 3px 8px #00000015;
}

#recenzii p {
    font-weight: 500;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 10px #00000025;
    margin: 50px auto;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
}

#contact h2 {
    font-size: 30px;
    margin: 50px 0 20px 0;
}

#contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#contact label {
    font-size: 20px;
    font-weight: 600;
}

#contact input,
#contact select {
    padding: 8px;
    width: 200px;
    max-width: 250px;
    font-size: 16px;
}

#contact button {
    padding: 10px 50px;
    margin-bottom: 30px;
    border: none;
    font-size: 20px;
    background-color: white;
    box-shadow: 0 5px 10px #00000025;
    border-radius: 20px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 10px;
    text-align: center;
}

@media (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }
    header ul {
        flex-direction: row;
    }
    .main h2 {
        font-size: 50px;
    }
    #avantaje h2,
    #recenzii h2,
    #contact h2,
    #catalog h2 {
        font-size: 35px;
    }
}

@media (min-width: 1024px) {
    #recenzii div {
        flex-direction: row;
        justify-content: space-between;
        width: 900px;
    }
    #avantaje ul {
        font-size: 25px;
    }
}

@media (min-width: 1280px) {
    #catalog div {
        flex-direction: row;
        justify-content: space-between;
        gap: 50px;
        width: 80%;
    }
}
